@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	background: #f0f0f0;
	font-family: Roboto;
}
.main{
	width: 744px;
	height: 452px;
	background: #fff;
	margin: auto;
	margin-top:100px;
}
.header{
	background: #2D9CDB;
	width: 744px;
	height: 94px;
	color: #ffffff;
}
.header h1{
	padding: 30px;
}
.time{
	width: 161px;
	height: 51px;
	background: #C4C4C4;
	margin: auto;
	margin-top: 100px;
}
.t{
	font-size: 36px;
}
.footer{
	margin-top: 120px;
}
.sponsors{
	float: right;
}
.b{
	float: left;
	font-size: 36px;
	padding: 20px;
}